@use "sass:math";

$bg_color: #f1f1f1;
$hover_color: #ddd;
$border_color: #e3e3e3;


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 5px * 2;
    position: relative;

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 5px 0;
        background-color: $bg_color;
        border: 1px solid $border_color;

        li {
            &:hover {
                a {
                    background-color: $hover_color;
                }
            }
        }
    }

    &:hover {
        ul {
            display: block;
        }

        > a {
            background-color: $hover_color;
        }
    }

    a {
        display: block;
        padding: 5px 10px;
        color: #333;
        text-decoration: none;
    }
}


.cookiemodal {
    &::backdrop {
        background: black;
        opacity: 70%;
    }

    border: solid 1px;
    border-radius: 5px;
    top: 10%;
}
