body
{
    min-width: 1000px;
}

#cart_div
{
    border-radius: 20px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    border-collapse: collapse;
    padding: 20px;
    background-color: lightgoldenrodyellow;
}
#col-1, #col-2, #col-3
{
    height: 80px;
    text-align: center;
    background-color: lightcyan;
    border-radius: 20px;
    border: 1px solid black;
    line-height: 80px;
}

#my_table
{
    margin-top: 150px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.img_cell
{
    width: 450px;
    padding: 2%;
    border-left: 1px solid black;
}

.img_cell img
{
    max-width: 400px;
}

th + th
{
    min-width: 50px;
    width: auto;
    padding: 2%;
}

#add_th
{
    min-width: 100px!important;
}

.name
{
    min-width: 200px;
}

.price
{
    min-width: 80px;
}

.description
{
    min-width: 260px;
    max-width: 400px;
}

#no_res
{
    /*
    margin-left: auto;
    margin-right: auto;*/
    background-image: url("https://cdn.pixabay.com/photo/2020/08/25/11/38/cartoon-box-5516523_1280.png");
    background-size: 200px 150px;
    background-repeat: repeat;
    background-color: rosybrown;
    height: 500px;
}

#no_msg
{
    font-size: larger;
    margin-top: 200px;
    padding-bottom: 50px;
    color: red;
    text-align: center;
    background-color: white;
    text-decoration-line: underline;
}

td + td
{
    text-align: center;
    padding: 2%;
}

tr td
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.add
{
    border-right: 1px solid black;
    width: 100px;
}
